 @import url("temas-colores-fuentes.css");
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

 * {
    margin: 0;
    padding: 0;
 }

 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif; /* MODIFICACIONES */
 }

 #qr-code {
    width: 100px;
    height: 100px;
 }

 /* Encabezado 1 */
 #encabezado-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;

 }

 .header__logo {
    width: 5%;
 }

 .header__usuario,
 .header__favorito,
 .footer__img {
    margin: 1px;
    width: 220px;
     height: 40px;
 }

/* MODIFICACIONES */
 .footer__img {
    margin: 10px;
    width: 220px;
    height: 40px;
 }

 .item-buscador {
    width: 30%;
    padding: 10px 40px;
    padding-left: 50px; /* MODIFICACIONES */
    color: #7a69ac;
    background: #e0e0e0 url(../assets/img/lupa-de-busqueda.png) 15.5px / 20px no-repeat;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
 }

 .item-buscador::placeholder {
    color: #a392bf;
    font-weight: bold;
 }

 .item-buscador:focus {
    outline: none;
 }

 /* CARRUSEL */
 .carrusel,
 .carrusel .slick-list,
 .carrusel .slick-track,
 .carrusel .slick-slide {
    height: 380px;
 }

 .carrusel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 /* CATEGORIAS NAV */
 #navegacion-categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%; /* MODIFICACIONES */
    background-color: #a391bf;
    margin-top: 0.50%;
    padding: 1.5%;
 }

 .tab-categoria {
    text-decoration: none;
    font-weight: bold;
    color: #e0e0e0; /* MODIFICACIONES */
    transition: 0.2s;
    font-size: 20px;
 }

 .tab-categoria:hover {
    background-color: #e0e0e01a; /* MODIFICACIONES */
    border-radius: 20px;
    padding: 15px;
    color: #c9c1e0;
 }

 .selecciona-categoria {
    background-color: #c9c1e0;
    border-radius: 50px;
    padding: 5px;
    color: #7a69ac;
    transition: 0.3s;
 }

 /*articulos*/
 #seccion-categoria {
    min-height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
 }

 .articulo-categoria {
    font-size: 16px; /* MODIFICACIONES */
    min-width: 25%;
    padding: 10px;
    margin: 20px;
    color: #7a69ac;
    box-sizing: border-box;
    background-color: #e0e0e0;
    border: 1px solid #7a69ac;
    border-radius: 30px; /* MODIFICACIONES */
    overflow: auto;
    text-align: center; /* MODIFICACIONES */
 }

 .item-valor-portada {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* MODIFICACIONES */
 }

 .item-valor-nombre,
 .item-valor-autor,
 .item-valor-descripcion,
 .item-valor-rating {
    font-weight: bold;
    text-align: center;
    margin: 1.5%;
    font-size: 25px;
 }

 .item-valor-nombre {
    color: #7a69ac;
    font-size: 28px;
    font-weight: bold;
 }

 .detalle-articulo {
    margin: 37px;
    font-size: 20px;
 }

 .centrar-img {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .efecto-mouse {
    transform: scale(1.02);
    transition: 0.2s;
    cursor: pointer;
 }

 .efecto-click {
    box-shadow: 1px 2px 10px 3px #7a69ac;
    transition: 0.3s;
 }

 .estrella {
    font-size: 20px;
    color: #C9C1E0; /* MODIFICACIONES */
 }

 .estrella-pintada {
    font-size: 20px;
    color: gold;
 }

 /*footer*/
 #footer-principal {
    display: flex;
    margin-top: auto;
    color: #e0e0e0; /* MODIFICACIONES */
    justify-content: space-around;
    background-color: #a391bf;
 }

 #footer-principal,
 #footer-principal * {
    font-size: 20px; /* MODIFICACIONES */
 }

 #footer-principal-izquierda,
 #footer-principal-centro,
 #footer-principal-derecha {
    display: inline;
    font-weight: bold;
    margin-top: 3%;
 }

 #footer-principal-centro {
    display: block;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -25px; /* MODIFICACIONES */
 }

 .foot {
    text-decoration: none;
    color: #e0e0e0;
 }

 #footer-principal-izquierda,
 #footer-principal-derecha:hover {
    cursor: pointer;
 }

 .footer__img:hover {
    cursor: pointer;
 }

 .footer__form--item {
    padding: 10px 15px;
    color: #7a69ac;
    border: none;
    border-radius: 50px;
    margin: 15px;
    background-color: #e0e0e0; /* MODIFICACIONES */
 }

 .footer__form--item::placeholder {
    color: #7a69ac57;
    font-weight: bold;
 }

 .footer__form--item:focus {
    outline: none;
 }

 label {
    display: block;
 }

 .footer__form--button {
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: #e0e0e0;
    background-color: #7a69ac; /* MODIFICACIONES */
 }

 .footer__form--button:hover {
    cursor: pointer;
    background-color: #4000ff;
 }

 /*---------- RESPONSIVE ----------*/
 @media screen and (max-width: 900px) {
    .header__logo {
       width: 10%;
    }

    .header__usuario,
    .header__favorito,
    .footer__img {
       margin: 5px;
    }

    #navegacion-categoria {
       display: grid;
       grid-template-columns: repeat(5, 1fr);
    }

    #seccion-categoria {
       min-height: 35%;
       display: grid;
       grid-template-columns: repeat(2, auto);
    }

    .articulo-categoria {
       flex-grow: 15%;
       flex-shrink: 10%;
       flex-basis: 10%;
    }

    .item-valor-portada {
       width: 150px;
       height: 150px;
       margin: 5px;
    }
 }

 @media screen and (max-width: 500px) {
    #seccion-categoria {
       min-height: 35%;
       display: grid;
       grid-template-columns: auto;
    }

    .tab-categoria {
       font-size: 11px;
    }

    .tab-categoria:hover {
       padding: 4px;

    }

    #footer-principal {
       font-size: 11px;
    }

    .footer__form--item {
       padding: 5px 10px;
       margin: 10px;
    }

    .footer__form--button {
       padding: 5px 10px;
       margin-bottom: 5px;
    }
 }