/* URL Paleta de colores LIGHT: https://coolors.co/e0e0e0-c9c1e0-a391bf-6a40a1-7a69ac */
/* URL Paleta de colores DARK: https://coolors.co/000000-10002b-30045b-471d59-3c096c */
@import url('https://fonts.google.com/specimen/Poppins');
@import url('https://fonts.google.com/specimen/Numans');
@import url('https://fonts.googleapis.com/css2?family=Khula');

:root {
   --light-color-texto: #e0e0e0;
   --light-color-fondo: #c9c1e0;
   --light-color-acento-1: #a391bf;
   --light-color-acento-2: #6a40a1;
   --light-color-acento-3: #7a69ac;
   --dark-color-texto: #000000;
   --dark-color-fondo: #10002b;
   --dark-color-acento-1: #30045b;
   --dark-color-acento-2: #471d59;
   --dark-color-acento-3: #3c096c;
}

 .light-theme {
   color: var(--light-color-texto);
   background-color: var(--light-color-fondo);
}

.dark-theme {
   color: var(--dark-color-texto);
   background-color: var(--dark-color-fondo);
}
